jupyter
pandas
matplotlib
pydub
pyyaml
wandb
munch
accelerate
tqdm
SoundFile
librosa
phonemizer
nltk
transformers
einops
einops-exts
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git